name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [ stable, nightly, 1.75.0 ]

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - name: Cache cargo bin
      uses: actions/cache@v5
      with:
        path: ~/.cargo/bin
        key: cargo-bin-${{ matrix.rust }}
    
    - name: Install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-nextest    
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo nextest run --all-targets
    - name: Run tests with all features
      run: cargo nextest run --all-targets --all-features
